# Marked to be ignored
*.ignore

# Compressed Files
*.root
*.zip
*.rar

# Pictures
*.gif
*.eps
*.jpg
*.pdf
*.png

# Compilation residuals
*.pyc
*.o

# SCRAM extras
__init__.py
__init__.pyc

# Executables
*_process
test/SplitClusterHistogramGenerator/bin/*

# Data files

# Test results
test/SplitClusterHistogramGenerator/results/*

# Logs
nohup.out
*.log

# References
References/*

# Notes
*.todo
jegyzet.txt
jegyzet.md
recipe.txt

# Extras
Extras/*

# Sublime text files
*.sublime-*
*.temp


# Instlumi and pileup maps
# Resources/Sources/Includes/Histogram_generation/Fill_parameters/Instlumi_map/run_ls_instlumi_pileup_2012.txt
# Resources/Sources/Includes/Histogram_generation/Fill_parameters/Instlumi_map/run_ls_instlumi_pileup_2015.txt
